table {
  width: calc(100% - 80px);
  margin: 0px 40px 40px 40px;
  text-align: start;
}

.table {
  display: flex;
  justify-content: space-between;
}
.submenu-todo {
  display: flex;
  margin: 40px;
  justify-content: flex-end;
}

.new-task {
  font-size: 18px;
  border-radius: 8px;
  padding: 10px;
  background-color: #ff74e3;
}

.deleteToDoButton {
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  background-color: #ff74e3;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 80px;
}

.edit {
  background-color: #ff74e3;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.icon {
  padding-left: 20px;
}

td {
  max-width: 100px;
  overflow: hidden;
}
