h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.contentLeft,
.contentRight {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.buttonControl {
  background-color: #f9f7d9;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.buttonMiddle {
  background-color: #ffc1f3;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.month {
  padding-top: 30px;
}

.content-view {
  text-align: inherit;
  font-size: 30px;
  border: 10px solid black;
  padding: 30px;
  width: 300px;
  /* resize: both; */
  background-color: #ffd6f7;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E")
    1;
}

.buttons {
  font-size: 18px;
  width: 50px;
  height: 40px;
  border-radius: 8px;
  margin-right: 15px;
  background-color: #ff74e3;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  vertical-align: top;
}

.edit-icon {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  margin-right: 15px;
  background-color: #ff74e3;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  vertical-align: top;
  padding-left: 12px;
  padding-top: 6px;
}

.new-task {
  padding-left: 45px;
  padding-right: 10px;
}

.addTodoIcon {
  align-items: baseline;
}

.container-create-user {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  cursor: pointer;
}

.status-info {
  display: flex;
  flex-direction: row;
}

#status {
  padding-left: 15px;
}

.create-user {
  display: flex;
  flex-direction: row;
}
