<div class="container">
  <div class="col-md-4">
    <div class="contentLeft">
      <div
        class="buttonControl"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Anterior
      </div>
      <div class="buttonMiddle" mwlCalendarToday [(viewDate)]="viewDate">
        Hoje
      </div>
      <div
        class="buttonControl"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Próximo
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
  </div>
  <div class="contentRight">
    <div
      class="buttonControl"
      (click)="setView(CalendarView.Month)"
      [class.active]="view === CalendarView.Month"
    >
      Mês
    </div>
    <div
      class="buttonMiddle"
      (click)="setView(CalendarView.Week)"
      [class.active]="view === CalendarView.Week"
    >
      Semana
    </div>
    <div
      class="buttonControl"
      (click)="setView(CalendarView.Day)"
      [class.active]="view === CalendarView.Day"
    >
      Dia
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [refresh]="refresh"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [refresh]="refresh"
  >
  </mwl-calendar-day-view>
</div>

<br /><br /><br />
