<div class="row text-center">
  <div class="container">
    <div class="col-md-4">
      <div class="btn-group contentLeft">
        <div
          class="buttonControl"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div class="buttonMiddle" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div
          class="buttonControl"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4 month">
      <h3>{{ viewDate | calendarDate: view + "ViewTitle":"pt" }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group contentLeft">
        <div
          class="buttonControl"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="buttonMiddle"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="buttonControl"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <div class="container-create-user">
    <a routerLink="/todo/create" class="new-task">
      <mat-icon class="icon addTodoIcon" aria-hidden="false">
        add_circle_outline
      </mat-icon>
    </a>
    <h3>Nova tarefa</h3>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<br />

<div class="container-view">
  <ng-template #modalContent let-close="close" class="all-open-tasks">
    <div class="content-view" id="visibility">
      <p>Título: {{ modalData?.event?.meta.toDoName }}</p>
      <p>Data inicial: {{ modalData?.event?.meta.toDoDate | date }}</p>
      <p>Data Final: {{ modalData?.event?.meta.toDoDateEnd | date }}</p>
      <p>Descrição: {{ modalData?.event?.meta.description }}</p>
      <p>Status: {{ modalData?.event?.meta.toDoStatus }}</p>
      <p>Categoria: {{ modalData?.event?.meta.category.categoryName }}</p>
      <div>
        <button type="button" class="close buttons" (click)="close()">
          <mat-icon class="icon" aria-hidden="false">close</mat-icon>
        </button>
        <button
          type="button"
          class="buttons"
          (click)="toDoDelete(modalData?.event?.meta.id)"
        >
          <mat-icon class="icon" aria-hidden="false">delete</mat-icon>
        </button>
        <a
          (click)="close()"
          [routerLink]="['/todo/update/', modalData?.event?.meta.id]"
        >
          <mat-icon class="icon edit-icon" aria-hidden="false">edit</mat-icon>
        </a>
      </div>
    </div>
  </ng-template>
</div>
