<form class="form-create-todo">

  <mat-form-field appearance="outline">
    <mat-label >Nome </mat-label>
    <input matInput name="Name" [(ngModel)] = "toDoName">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descrição</mat-label>
    <input matInput name="description" [(ngModel)] = "description">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data</mat-label>
    <input matInput name="toDoDate" [(ngModel)] = "toDoDate">
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label >Status</mat-label>
    <mat-select >
      <mat-option value="one">Em andamento</mat-option>
      <mat-option value="two">Finalizada</mat-option>
      <mat-option value="two">Abandonada</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Anotações da atividade</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <button class="button" (click)="createToDo()">Criar</button>
</form>


