@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
  font-family: "Zilla Slab", serif;
  src: url("./fonts/ZillaSlab-Light.ttf");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

* {
  font-family: "ZillaSlab-Light";
  font-size: 18px;
}
