.toolbar {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #ff8f00;
}

.home-icon {
  position: absolute;
  left: 20px;
}

.menu-itens {
  padding: 20px;
}

mat-icon {
  position: absolute;
  bottom: 20px;
}
